.tournoi{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
}

.cardAndTimer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  z-index: 1;
  background-image: url("/static/images/tft.png");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.card:hover{
  cursor: pointer;
}

.card-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 0px solid gray;
  border-radius: 5px;
  height: 50px;
  width: 80%;
}

.timer{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#timer{
  color: white;
  font-size: 20px !important;
  font-family: Arial, Helvetica, sans-serif;
}

#timerButton {
  position: relative;
}

.hidden {
  display: none;
}

.visible {
  background-color: rgba(53, 52, 50, 0.63);
  display: block;
  width: 60%;
  margin-top: 5px;
  margin-left: -10px;
  margin-bottom: 65px;
  border-radius: 10px;
  box-shadow: 7px 0 10px rgba(54, 54, 54, 0.7); 
}

.no-tournament-info {
  font-style: italic;
  color: gray;
}

.card-info, .etatTournoi-info{
  margin-left: 40px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.8);
}
