<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="firefox">
    <meta name="ChacalHome" content="width=device-width, initial-scale=1.0">
    <title>ChacalHome</title>
    <script src="{{ url_for('static', filename='js/getNavbarre.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbarre.css') }}">       
</head>
<body>
    <header>
      <div id="navbarre"></div>
    </header>
    <footer>
    </footer>
  </body>
</html>